{% extends 'base.html' %}
{% block content %}
<div class="hero">
  <div class="hero-body">
    <h1 class="title is-1">Blog Posts<h1>
        <p>Here is a collection of blog posts that will help you build your
        next Render Engine project</p>
  </div>
</div>

<section class="section">
    <div class="columns">
    <div class="column is-3 box">
        <ul>
            {% for page in pages %}
                <li>
                  <h2 class="title is-3">
                    <a href="/blog/{{page.slug}}">{{page.title}}</a>
                  </h2>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="box column is-expanded">
        {% for page in pages %}
        <div class="content mb-6">
          <h2 class="title is-3">
            <a href="/blog/{{page.slug}}">{{page.title}}</a>
          </h2>
          <h3 class="small">{{page.date_friendly}} by {{page.author}}</h3>
          <div>{{page.content}}</div>
        </div>
        <hr>
        {% endfor %}
  </div>
  </div>
</section>
{% endblock %}
