<footer class="footer has-bg-warning">
    <p>This site is built with Render Engine by <a
                                               href="https://kjaymiller.com">Jay Miller</a>.
                                               Who is clearly a
                                               <strike>Marketer</strike>
                                               Developer.
    </p>
  <div class="level has-text-centered">
    <div class="level-item">
      <p><a
           href="https://render-engine.readthedocs.io/en/latest">Documentation</a></p>
    </div>
    <div class="level-item">
      <p><a href="https://github.com/kjaymiller/render_engine">GitHub</a></p>
    </div>
    <div class="level-item">
      <p><a
        href="https://github.com/kjaymiller/render_engine/blob/master/LICENSE">
        License</a>
      </p>
    </div>
    <div class="level-item">
      <iframe src="https://github.com/sponsors/kjaymiller/button" title="Sponsor kjaymiller" height="35" width="107" style="border: 0;"></iframe>
    </div>
  </div>
</footer>
